body {
  padding-top: 1em;
  font-family: Lato;
  font-size: 14pt;
  color: #000;
  background: radial-gradient(circle at 90% 46%, #7b92d1 1%, #e3ecf2 174%);
}
.strip {
  width: 100%;
  box-shadow: 0 0 5vmin 2vmin #ccc;
}
h1:first-letter {
  text-transform: capitalize;
}
select {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.8);
}
circle,
rect,
path,
.bar {
  background: #cfd6f2;
  fill: #cfd6f2;
  opacity: 0.3;
}
.title {
  opacity: 0.8;
  cursor: default;
}
.subtitle {
  stroke: #fff;
  stroke-width: 0;
  paint-order: stroke;
  font-size: 59%;
  opacity: 0.3;
  cursor: default;
}
.vennDiagram {
  font-size: 70%;
}
.vennDiagram text {
  alignment-baseline: middle;
}
