body
  padding-top: 1em
  font: 14pt Lato
  color: black
  background: radial-gradient(circle at 90% 46%, hsl(224, 48%, 65%) 1%, hsl(204,38%,92%) 174%)

.strip
  width: 100%
  box-shadow: 0 0 5vmin 2vmin hsl(0,0,80%)

h1:first-letter
  text-transform: capitalize

select
  background: transparent
  border: none
  border-bottom: 1px solid hsla(0,0,0%,0.8)

circle,
rect,
path,
.bar
  background: hsl(228,58%,88%)
  fill: hsl(228,58%,88%)
  opacity: .3

.title
  opacity: .8
  cursor: default

.subtitle
  stroke: white
  stroke-width: 0
  paint-order: stroke
  font-size: 59%
  opacity: .3
  cursor: default

