body {
  padding-top: 1em;
  font-family: Lato;
  font-size: 14pt;
  color: #000;
  background: radial-gradient(circle at 90% 46%, #7b92d1 1%, #6968c0 174%);
}
.strip {
  width: 100%;
  box-shadow: 0 0 5vmin 2vmin #ccc;
}
h1:first-letter {
  text-transform: capitalize;
}
select {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.8);
}
mask rect,
mask circle {
  opacity: 1;
}
mask .stroke {
  stroke: #000;
  stroke-width: 3;
}
circle,
rect,
path,
.bar {
  background: #cfd6f2;
  fill: #cfd6f2;
  opacity: 0.3;
  transition: opacity 0.4s ease;
}
.title {
  opacity: 0.8;
  cursor: default;
  transition: color 0.4s ease;
}
.subtitle {
  stroke: #fff;
  stroke-width: 0;
  paint-order: stroke;
  font-size: 59%;
  opacity: 0.3;
  cursor: default;
  transition: color 0.4s ease;
}
.active,
.active .bar,
.active .title,
.active .subtitle {
  color: #fff;
  opacity: 0.9;
}
.domain {
  fill: none;
}
.vennDiagram {
  font-size: 70%;
}
.vennDiagram text {
  alignment-baseline: middle;
}
.important-skills .col-xs-6 {
  padding: 0;
  margin: 0;
}
.important-skills .bar {
  margin-top: 0.25em;
  height: 1em;
}
.important-skills .ago {
  position: relative;
  top: -0.25em;
}
