body {
  padding-top: 1em;
  font-family: Lato;
  font-size: 14pt;
  color: #000;
  background:
    radial-gradient(circle at 106% 2%, hsl(0, 0%, 50%) 0%, transparent 59%),
    radial-gradient(circle at 90% 90%, hsl(0, 0%, 50%) 0%, hsl(189, 67%, 40%) 69%)
}
a, a:hover {
  color: black;
  text-decoration: underline;
}

img {
  width: 100%;
  padding-right: 4%;
}
.domain {
  fill: none;
}
select {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.8);
}
.fluid {
  padding: 0;
}

section {
  margin-top: 20vh;
  margin-bottom: 20vh;
}
section.projects {
  margin-bottom: 4vh;
}
section.summaries {
  margin-top: 5vh;
  width: 73%;
  margin: auto;
}



circle,
rect,
path,
.bar {
  background: hsla(0,0%,100%,0.15);
  /* background: hsl(228,4%,75%); */
  /* fill: hsl(228,4%,75%); */
  fill: hsla(0,0%,100%,0.15);
  stroke: transparent;
  stroke-width: 4;
  opacity: 1;
  transition: all 0.4s ease;
}



circle.active,
rect.active,
path.active,
.active .bar {
  background: hsl(228,4%,84%);
  fill: hsl(228,4%,84%);
  opacity: 0.9;
}

.title {
  paint-order: stroke;
  opacity: 0.8;
  cursor: default;
  transition: all 0.4s ease;
}
.subtitle {
  paint-order: stroke;
  font-size: 59%;
  cursor: default;
  transition: all 0.4s ease;
}
.tick text {
  cursor: default;
  font-size: 78%;
}
.tick line {
  stroke: hsl(0, 0%, 20%);
}
.active .title,
.active .subtitle {
  fill: hsl(228, 4%, 84%);
  color: hsl(228, 4%, 84%);
  opacity: 0.9;
}
.active.developer .title,
.active.developer .subtitle {
  stroke: hsl(189, 18%, 47%);
  /* stroke: hsl(0, 0%, 47%); */
  stroke-width: 4.5;
  stroke-linejoin: round;
}



.vennDiagram {
  font-size: 64%;
  stroke-width: 4.5;
}
.vennDiagram text {
  alignment-baseline: middle;
}



mask rect,
mask circle {
  opacity: 1;
}
mask .stroke {
  stroke: #000;
  stroke-width: 3;
}
.important-skills {
  clear: both;
}
.important-skills .bar {
  margin-top: 0.25em;
  height: 0.90em;
}
.important-skills .ago {
  margin-top: .30em;
  float: left;
}
.important-skills .subtitle {
  position: relative;
  top: -0.75em;
}

.projectList .project {
  height: 15em;
}

.skillLabel {
  float: left;
  padding: 0.25em;
  margin-bottom: 0.25em;
  margin-right: 0.25em;
  /* line-height: 2.1em; */
  font-size: 92%;
  background: hsla(0,0%,100%,0.15);
  box-sizing: border-box;
  cursor: default;
  transition: all 0.4s ease;
}
.active .skillLabel,
.skillLabel.active {
  color: hsl(228,4%,84%);
  background: hsla(0,0%,0%,0)
}
.allSkills .skillLabel:first-child {
  clear: left;
}

.teamSize,
.softwareHouse,
.teamSizeLabel,
.softwareHouseLabel {
  clear: both;
  float: left;
}
.projectList .projectAndCompanyName {
  margin-bottom: 0;
}
.projectList .softwareHouse {
  font-size: 80%;
}
.projectList .skills {
  clear: both;
  padding-top: 1em;
}
.projectList .role {
  float: left;
  padding-top: 0.5em;
}

.text-center {
  text-align: center;
}
