//
// general
//

body
  padding-top: 1em
  font-family: Lato
  font-size: 14pt
  color: black
  background: radial-gradient(circle at 90% 46%, hsl(224, 48%, 65%) 1%, hsl(204,38%,92%) 174%)

.strip
  width: 100%
  box-shadow: 0 0 5vmin 2vmin hsl(0,0,80%)

h1:first-letter
  text-transform: capitalize

select
  background: transparent
  border: none
  border-bottom: 1px solid hsla(0,0,0%,0.8)

mask rect,
mask circle
  opacity: 1

mask .stroke
  stroke: black
  stroke-width: 3

circle,
rect,
path,
.bar
  background: hsl(228,58%,88%)
  fill: hsl(228,58%,88%)
  opacity: .3

.title
  opacity: .8
  cursor: default

.subtitle
  stroke: white
  stroke-width: 0
  paint-order: stroke
  font-size: 59%
  opacity: .3
  cursor: default

.active,
.active .bar
  opacity: .8



//
// specific
//

.vennDiagram
  font-size: 70%

.vennDiagram text
  alignment-baseline: middle
