// page reveal
body
  +prefix(animation, reveal .6s ease-in-out)

// next button blink
#carousel
  .right
    +prefix(animation, half-reveal .15s ease-in-out 2s 6 alternate)
  .carousel-inner
    +prefix(animation, \
      half-dim 6*.15s+.5s ease-out 1.5s,
      half-reveal .6s ease-out 2s+6*.15s)

// charts
.arc
  +transition(all .5s ease-in-out)
  path
    +transition(all .5s ease-in-out)
  text
    +transition(all .5s ease-in-out)

.pie-container
  +prefix(animation, fix-chrome .01s ease-in-out)

.skills li
  .bar
    +transition(all .5s ease-in-out)
  .title
    +transition(all .5s ease-in-out)

.projects_chart
  rect
    +transition(all .5s ease-in-out)


/*
 * keyframes
 */
+keyframes(reveal)
  from
    opacity: 0
  to
    opacity: 1

+keyframes(half-reveal)
  from
    opacity: .5
  to
    opacity: 1

+keyframes(half-dim)
  from
    opacity: 1
  to
    opacity: .5

+keyframes(fix-chrome)
  from
    transform: translate(49%,50%)
  to
    transform: translate(50%,50%)
